[2017-03-07 16:47] andife opened #1 "Problem: Starting Webserver"
Hello,
I installed code-forensics and tried to visualize the results now.
Unfortunatly, I'm not able to start the webserver and I got the following error message.

[code]

Maybe it would be possible to give me hint, what I've done wrong and how I can help myself?

[2017-03-12 06:41] smontanari commented on #1
I'm not running code-forensics on windows so I can't actually reproduce this problem, however I think the issue could be that webserver.js is expecting the OS to figure out how to execute itself as a script (through the shebang _#!/usr/bin/env node_) and this is not much Microsoft friendly.

Have you tried and run the webserver.js script directly with node?, i.e.:
[code]

If that works then the is

[2017-03-12 20:38] smontanari commented on #1
One idea is to try and use the npm package "bin" configuration
Have a read at [http://stackoverflow.com/questions/10396305/npm-package-bin-script-for-windows](http://stackoverflow.com/questions/10396305/npm-package-bin-script-for-windows)

My suggestion is to:
a) rename scripts/webserver.js to  scripts/webserver
b) create a mapping in package json to link the command, i.e.
[code]
c) don't forget t

[2017-03-14 12:42] andife opened #2 "Typos (wiki-pages)"
I found some minor error in the wiki
(but I was not able to fork the wiki to commit changes)

**Home.md**

1) In order to to fully  => In order to fully
2) I highly recommended => I highly recommend
3)  - [**Developer coupling and communication**](Developer-coupling-analysis): chapter 12 and 15
=>  - [**Developer coupling and communication**](Developer-coupling-analysis): chapters 12 and 15
4) the

[2017-03-14 21:39] smontanari opened #3 "Support for SVN"
code-forensics currently support git based repositories only

[2017-03-22 10:17] smontanari commented on #2
Typos fixed, thank you @andife for taking the time to read through all the pages and notifying me.

[2017-03-22 10:17] #2 closed

[2017-07-11 07:10] mhenrichsen opened #4 "Can't find repository root"
Hi @smontanari,

I'm having an issue where gulp can't seem to find the repository root directory.

`Madss-MacBook-Pro:cf madsgadehenrichsen$ gulp list-analysis-tasks
[09:04:34] Repository root directory does not exist: /desktop/betaflight

/Users/madsgadehenrichsen/Desktop/CF/node_modules/code-forensics/lib/index.js:32
    throw e;
    ^
Error: Repository root directory does not exist: /desktop/be

[2017-07-11 07:41] mhenrichsen commented on #4
Made it work. Had to include the whole path and not just for my user.

[2017-07-17 07:14] #4 closed

[2017-07-17 07:24] mhenrichsen opened #5 "Hotspot analysis doesn't work after merging two Git repositories."
Hi @smontanari,

I've tried [this](https://stackoverflow.com/questions/13040958/merge-two-git-repositories-without-breaking-file-history) method to merge two repositories without messing with the history.

It seems to work fine, but when I run the hotspot analysis, there is no hotspots - all dots have the same color.

[Here is a picture](http://imgur.com/a/mEzmZ).

Any ideas?

[2017-07-21 03:22] smontanari commented on #5
The symptom seems to be that your analysis results do not contain any complexity and/or lines of code metrics (depending on what diagram you're trying to visualise). It could be just a matter of configuring code-forensics the right way. If your code is in an open repo and you let me know which one I can give it a quick try and let you know

[2017-08-03 02:58] joneshf opened #7 "Generate html files instead of using a webserver"
This is amazing! Thanks for your work putting this together!

Is there an easy way to generate html files as the output instead of running a webserver? I'd love to use this in places where servers can't run (GH pages, AWS S3, etc). Basically, any place where you can host css/html/js files, but can't have a server running.

[2017-08-04 22:29] smontanari commented on #7
The app content is mostly dynamically generated and what you see on the browser is not the actual content of the http response. You can save the full page through your browser and that will allow you to view a graph directly from a file, but you won't be able to use any of the diagram selections or filtering options available. However, if your purpose is simply to store the data used to generate t

[2017-08-05 14:38] joneshf commented on #7
The problem is, I can't run code-forensics on these servers. AWS S3, for example, only allows hosting static files.

[2017-08-07 01:37] smontanari commented on #7
I realise that, however you could generate the static files with your laptop and then upload them to S3. Then you can download those onto another laptop and open them in a browser. Obviously all the limitations I mentioned earlier still apply, but at least you don't necessarily need nodejs and code-forensics installed on the other laptop to see a graph. Other than that there is not much else you c

[2017-08-07 06:41] #7 closed

[2017-10-12 07:54] rbritto82 opened #9 "Git log empty and thus no plots generated"
Hi,

First, i would like to congratulate you for your work. Really nice job!

I tried to use the tool to analyze the hibernate-orm repository (https://github.com/hibernate/hibernate-orm.git). I tried the commands  "commit-message-analysis" and "hotspot-analysis". When I run the first command, nothing is generated, just empty files (log file and the json). When I try to run the second command, the

[2017-10-13 10:50] dlehammer commented on #5
The symptom described by @mhenrichsen seems to match my experience with `git subtree`.
I've also attempted to combine multiple git repositories into a single repository with each repository represented by a sub-directory, in-order to perform code-forensic on the full code-base.
I've created an example repo [here](https://github.com/dlehammer/code-forensics_git_subtree_issue-5).
The repo was create

[2017-10-13 13:45] dlehammer commented on #5
Hotspot analysis works as intended for a single git-repository, in this example [grails-quartz](https://github.com/grails-plugins/grails-quartz).
![screenshot from 2017-10-13 15-42-37](https://user-images.githubusercontent.com/17439718/31549034-2cd8df0e-b02d-11e7-860e-3f5e4ecfd4e9.png)

[2017-10-17 15:29] dlehammer commented on #5
I couldn't let this issue go, as additional digging revealed there's several approaches for merging git repositories into a single git repository in separate sub-directories without loosing file history. An as described below I'm suspecting there's an issue here and perhaps it's possibe to tease out a fix

I've tried several approaches, they all seem to produce full history for ```git log``` but t

[2017-10-20 19:42] smontanari commented on #9
Sorry for the delay but I was on holiday over the past two weeks.

- First: if you don't specify a start date code-forensics will only run for the current date and if no commits have been created for that day no reports will be created.
- Secondly: running this tool on Windows has a high chance of failure, as the behaviour of nodejs on a Windows OS is different (and more complicated). I don't real

[2017-10-20 20:08] rbritto82 commented on #9
Hi, Silvio!

Thanks a lot for all the clarifications.

[ ]'s
Ricardo Britto

[2017-10-21 08:04] #9 closed

[2017-10-21 08:05] smontanari commented on #3
done.

[2017-10-21 08:05] #3 closed

[2017-10-23 03:08] smontanari commented on #5
thank you @dlehammer for the extensive report on your attempts to dig into this.

code-forensics needs to produce a git log in a particular format in order to be parseable by code-maat. the code in the module `git_adapter.js` simply wraps git commands and streams the output back to the program so it can be parsed accordingly.
In particular, the repo log/history information necessary for many of th

[2017-10-25 13:28] jdevoo opened #10 "start webserver with different host"
This is just a feature request. I am using code-forensics from Docker and need to bind to 0.0.0.0
At the moment, 127.0.0.1 is assumed.

[2017-10-25 14:34] jdevoo opened #11 "commit-messages report"
I ran the commit-messages task several times, with varying parameters as follows

[code]
The reports view always shows `minWordCount=5` in the reports list and `Word occurency 5` for the view itself.

[2017-10-25 22:15] smontanari commented on #11
the parameter name is case sensitive. It looks like you pass "minWordcount" instead of "minWordCount"

[2017-10-25 22:47] smontanari commented on #10
makes sense. It's a pretty straightforward change too.

[2017-10-26 08:49] jdevoo commented on #10
Thank you Silvio!!

[2017-10-26 08:54] #11 closed

[2017-10-26 13:56] jdevoo opened #12 "system evolution empty"
Silvio, I ran `gulp system-evolution-analysis --dateFrom=2015-01-01 --dateTo=2017-12-31` against this repo `https://github.com/adrianco/spigo` which is a Go-based architecture simulation tool.

The task runs but the visualizations remain empty. I have not set up layerGroups but thought that was optional.

Any thoughts?

[2017-10-26 13:57] jdevoo opened #13 "cyclomatic complexity for other languages"
Silvio, what are your thoughts on adding support for more languages? What approach would you prefer/recommend?

[2017-10-26 19:34] smontanari commented on #13
That's entirely possible. Although cyclomatic complexity is not the primary objective of a code-forensics investigation, its metrics are featured in a few analyses and sure can help to better understand the evolution of a codebase.
From an implementation standpoint, I've written code-forensics with that in mind, and as long as a command line tool is available that can compute the cyclomatic comple

[2017-10-26 21:20] smontanari commented on #12
The data is there (if you look into the generated report files the output folder). The problem is that you have specified (implicitly) only one data point and all you have is the aggregation of your metrics over that time interval, hence the diagrams don't really show anything meaningful. Being an _evolution_ analysis we want to instruct code-forensics to divide the time interval into a number of

[2017-10-27 00:04] smontanari commented on #10
this should be done as part of release 0.15.0. Please have a quick go and close this issue if resolved.

[2017-10-27 07:39] jdevoo commented on #13
True - we can use some other tools for that;
I was thinking of Java and C# to start with and was wondering if there was a requirement for the output and how to package helpers to extend the current 2 supported...
Adam also looks at negative space in his book - do you have plans for that?

[2017-10-27 10:04] #12 closed

[2017-10-27 15:25] jdevoo opened #14 "node_modules and gulpfile.js"
I saw the comment on the landing page about not installing code-forensics globally with npm so I end up with node_modules in the home directory.
But I noticed in the webserver script that lib references node_modules relatively.
I would prefer to use code-forensics from a docker image where I separate the project under study along with its gulpfile.js, output, tmp and repo into a separate directory

[2017-10-28 22:51] smontanari commented on #14
The main reason I discourage to install code-forensics as a global module is because of potential conflicts with other libraries installed globally. I assume that wouldn't be the case in a custom setup container.
Having said that I think it should be fairly simple to have the `webserver.js` script being smarter about finding the node_modules directory it is installed into, there are plenty of modu

[2017-10-31 00:15] smontanari commented on #14
As of release `0.15.1` the webserver.js script resolves the path of node_modules in the chain of its ancestors; that should allow more flexibility around where the code-forensics module and its dependencies are actually installed. I didn't have time to test this on a docker container, but maybe this can solve your problem

[2017-10-31 07:03] jdevoo commented on #14
This is cool Silvio! I am now able to spin up the docker image through a small batch on Windows wherever I find a gulpfile.
I pasted the script and the Dockerfile in this [gist](https://gist.github.com/jdevoo/c7a6b8233c111d537900f8df778ce2bf)for reference.

[2017-10-31 07:10] #14 closed

[2017-10-31 07:29] jdevoo commented on #1
I am using code-forensics on Windows 10 through Docker.
The docker image is built with the required Java, Node and I added git and subversion for convenience of pulling repos for analysis. In the image, gulp is installed globally and code-forensics under the root user. As the install happens on a fresh install, there's no collision between npm packages.
Here's the [gist](https://gist.github.com/jd

[2017-10-31 16:48] jdevoo opened #15 "typos?"
In the wiki, under developer effort analysis, I noticed the sentence "One of the biggest challenges of any scaling ..." - typo on "any"?

on page coupling analysis I noticed the following paragraph

The resulting report is a list of files/modules that are potentially coupled with the original file. The coupling degree between two files is determined based on the number of shared commits within the

[2017-11-01 00:09] smontanari commented on #15
thanks, I'll review and amend

[2017-11-01 07:48] #15 closed

[2017-11-02 15:52] jdevoo opened #16 "system evolution with layerGroups"
I have tried a system-evolution-analysis on [alfresco-repository](https://github.com/Alfresco/alfresco-repository) using the following gulpfile.js

[code]

dateFrom is 2010-01-01 and dateTo is 2017-12-31 but it shows this in the logs...
[code]

I checked the doc but not sure what I missed...

I also notice the following entries in the log from this analysis - what are these related to?

`Invalid C

[2017-11-02 22:16] smontanari commented on #16
Are you passing a `layerGroup` parameter? If not, that probably explains the first message `No layer group parameter specified...`

The other log entries relate to a problem when code-forensics invokes code-maat. The message basically is the direct output of the code-maat program and what that means is that code-maat cannot parse the log input that it's being given. That could be because the log f

[2017-11-03 07:08] jdevoo commented on #16
I am sorry - had missed that parameter in my notes. The debug hint will help me as well. Thank you!

[2017-11-03 07:08] #16 closed

[2017-11-03 13:42] jdevoo opened #17 "umlaut in contributor name"
Could it be that the gulp task for developer-coupling-analysis does not play well with a name such as "Thomas Müller"?

I could not manage to group it inside its contributors array...
[code]
Rendering below
![dev-coupling-alfresco-repo](https://user-images.githubusercontent.com/16983/32377407-d5b041b4-c0a7-11e7-9fab-dcf60d518640.PNG)

[2017-11-05 20:50] smontanari commented on #17
If you're referring to _'Martin Müller'_ as shown in the diagram it looks like you forgot a single quote in your configuration file.

More generally speaking there's no special logic around character encoding. All files should be written/read using utf-8, therefore taking into account all usual character sets (however I'm not sure that is true for Windows). An easy way to check if you've missed/mi

[2017-11-06 10:44] jdevoo commented on #17
I had fixed the quote thing but indeed editing the gulpfile on Windows and looking at it on the Docker image shows a problem with the character translation. Will look at settings in Sublime...

[2017-11-07 09:45] gernotstarke commented on #1
@jdevoo  - the link to your gist (Dockerfile) above is broken, it should be:

https://gist.github.com/jdevoo/ebaf48afbd533748301cdcb0cbd34219

[2017-11-08 14:59] jdevoo commented on #1
fixed - thank you @gernotstarke

[2017-11-08 15:33] jdevoo commented on #17
re-opened; encoding seems fine on the file when I cat it from within the Docker image...

[2017-11-10 02:14] smontanari commented on #17
I can't reproduce the problem. I tested with log files containing names with umlaut and it all seems to be working fine. If you analysing a public repo I can try the very same one

[2017-11-13 21:24] jdevoo commented on #17
It's from the [alfresco-repository](https://github.com/Alfresco/alfresco-repository)

[2017-11-14 11:38] smontanari commented on #17
You likely have a problem in the way the umlaut character is encoded in your gulpfile (maybe caused by copy & paste). One way to get it right is to explicitly write the umlaut character as a separate unicode entity next to the "u" character, e.g.
`u\u0308`

Following the example of your configuration, this is what I used, successfully, to define the contributor (the second name is an alias present

[2017-11-15 07:00] jdevoo commented on #17
Thank you Silvio!

[2017-11-15 07:00] #17 closed

[2017-11-21 08:29] jdevoo opened #18 "code ownership blank"
I am still using alfresco-repository as repo and main-dev-coupling-data.json remains empty although code-ownership-report.json has 4000+ entries for the range 2017-06-01 to 2017-11-01.
Under what conditions would a 'code ownership' result in no data?
TIA

[2017-11-22 09:39] smontanari commented on #18
There are several code-maat command line options that determine the granularity of the analysis. The options `-m` and `-n` in particular can drastically change the result of the analysis. My suggestion is to run the analysis in debug mode (setting the env variable COMMAND_DEBUG) and detect the code-maat command that is used to extract the coupling data, then execute that command yourself to see wh

[2017-11-30 09:00] jdevoo commented on #18
Thank you Silvio - lowering `m` and `n` to 4 yielded the graph below.
Any specific reason for not using the radial layout with splines?

![coupling-analysis](https://user-images.githubusercontent.com/16983/33421649-0cfcc654-d5b3-11e7-8c7d-8e2e298205c1.png)

[2017-12-03 22:59] smontanari commented on #18
The bubble chart gives me the ability to size the circles based on the number of authors and tune the colour based on the number of revisions, which helps to highlight the files with higher churn and more contributors, where coupling issues may represent bigger risks. I wasn't sure how to tweak the spline chart to achieve a similar outcome.

[2017-12-04 09:52] jdevoo commented on #18
Thank you again Silvio!!!

[2017-12-04 09:52] #18 closed

[2017-12-05 15:37] jeskoriesner commented on #13
@smontanari @jdevoo Java support to analyse complexity would be highly interesting for me. I was wondering why you have not used the whitespace / line complexity analysis instead which should be language agnosic and easier to implement. This is what Adam Tornhill suggested anyways. There is also a tool available, but I really don't know how efficent it is.
https://github.com/adamtornhill/indent-co

[2017-12-06 22:25] smontanari commented on #13
@jeskoriesner it's always possible to add whitespace technique as an alternative, language agnostic tool. However I've never tried it myself to really tell how effective it is, and we also have the _sloc_ analysis that can give an language neutral idea of complexity trend. Happy to look into adding java if anyone can suggest me a tool that can quickly produce a simple report and can be run from a

[2017-12-14 18:36] jeskoriesner opened #19 "Large Codebase Hotspot Analysis breaks with ENOMEM: not enough memory"
I am trying to analyse a large code base with 100k+ revisions. The process gets interrupted with the not enough memory error.
I looked around and tried to solve the error by providing a higher memory limit to node using the --max-old-space-size but is does not matter. The process always terminates at the same location. I also tried to analyse *.java files only, but the process still terminates. I

[2017-12-14 22:51] smontanari commented on #19
If the memory issue was due to the large number of revisions my suggestion would be to try not to analyse the entire history of the codebase in one go. However looking at the log file it seems like the task that's failing is not the `vcs-log-dump`, rather the `sloc-report`, which seems to run out of memory after reading about 6600 files. It could be that nodejs cannot garbage collect in time all t

[2017-12-15 12:01] smontanari commented on #19
@jeskoriesner have you tried to just run (from your project root):
[code]

[2017-12-18 14:03] Husterknupp opened #20 "Error: spawn git EMFILE"
Hey @smontanari , thanks for providing code-forensics.

I want to perform some analysis on my js repo which is built using npm and gulp. Unfortunately I run repeatedly into this EMFILE error. I guess it happens because more files are being scanned than my operating system can handle. That's why I increased that limit to 10000 via `$ ulimit -n 10000` which did not solve the problem though.

Am I do

[2017-12-20 14:42] TrentonZero commented on #20
I had this problem in a monolithic repo at work that had vast amounts of business process cruft in it and I was able to work around it by updating my gulp file to target only the actual source directories with 'includePaths'. The underlying problem should still be fixed, but that let me get on with my analysis.

[2017-12-20 18:09] Husterknupp commented on #20
@TrentonZero the folder structure of my app looks something like this

[code]

the error message is thrown when the node_modules folder is analyzed. Which is not even necessary to be analyzed.

when I change the gulpfile accordingly, I don't have this error, true. But then I have no git information anymore. I guess, because it's not the git root?
[code]

Appreciate any forwarding 🙃

[2017-12-21 14:18] jdevoo commented on #20
You can have a more fine-grained gulpfile which excludes some and keeps some. Below is an example on clipper.ai

[code]

[2017-12-21 22:36] smontanari commented on #20
As @jdevoo  points out, there are many options you can use to better filter the files that you're interested in analysing. However, as @TrentonZero says, it would be good to find a solution for this problem at the root rather than trying to work around it all the time. Can anyone point me to a public repo where this issue is replicable so I can do some investigation? There are nodejs libraries tha

[2018-01-04 15:54] dlehammer commented on #5
As far as I can tell, the output format is identical between repositories and both produce output.
![git log ... diff](https://user-images.githubusercontent.com/17439718/34571282-5dc00778-f16e-11e7-83b9-fb607650713b.png)

My main suspect is still that the command isn't executed because some error blocks the earlier flow, as described in above [comment](https://github.com/smontanari/code-forensics/

[2018-01-05 04:15] smontanari commented on #5
@dlehammer I cloned your example repo and I had no problem running the hotspot-analysis
![ha-screenshot](https://user-images.githubusercontent.com/293746/34595265-ae392f92-f22a-11e7-9259-d6c657c51c11.png)

This is an extract of the output
[code]

I also checked the vcs log file produced and they look ok. Maybe you're missing something in your setup?

[2018-01-08 13:53] jeskoriesner commented on #19
@smontanari have used the --max-old-space-size=<mem size> option, but the outcome did not change, no matter how much memory I did allocate. So, I do not think the memory is really allocated to the process that is failing.
It is a company repo which I cannot share. The files are not extraordinarily large either, so I cannot make sense of what is happening.
I was wondering if a sub-process was unabl

[2018-01-08 21:27] dlehammer commented on #5
Well, this is a bit unsettling, but I'm able to run the analysis successfully for the [example repo](https://github.com/dlehammer/code-forensics_git_merge-repos_issue-5) - just like you now.

I suspect something's changed in my environment since last time the symptom manifested itself, but I haven't taken any active steps in this regard myself - hence I'm unable to tell what's affected the outcome

[2018-01-09 04:22] smontanari commented on #5
No worries, I'll close the issue for now

[2018-01-09 04:22] #5 closed

[2018-01-09 22:08] smontanari commented on #19
@jeskoriesner all I can suggest is to break down the analysis steps and and try to isolate the problem. In your case the hotspot-analysis requires the following tasks to execute prior to itself: `vcs-log-dump`, `sloc-report`, `revision-report`. Try and execute them individually (maybe with the debug flag turned on) and see  if any one in particular triggers the issue. If not, then maybe the hotspo

[2018-01-10 12:56] FlasH-RUS commented on #1
@smontanari, just in case, I can confirm that `node webserver.js` from `node_modules\code-forensics\scripts` works in Windows.
And thanks for this wonderful tool ^_^

[2018-01-10 23:22] smontanari commented on #1
thank you @FlasH-RUS, I'm closing the issue then.

[2018-01-10 23:22] #1 closed

[2018-01-10 23:26] smontanari opened #21 "Windows OS support documentation"
It would be great if anyone using code-forensics in a Windows OS could take a little time to write a little page to explain the main gotchas required to get the toll running in Windows. If you can contribute let me know and I will be happy to include your documentation in the current wiki.

This does not mean I intend to fully support Windows in the future, my intent is just to provide some hints

[2018-01-12 10:42] Leviter opened #22 "System evolution graph empty"
When running ```gulp system-evolution-analysis --dateFrom=2017-01-01 --dateTo=2017-12-31 --layerGroup=Code --timeSplit=1m``` I see that it runs without errors. Also I see 4 generated files in the output folder. They all have data that look fine...

When I go to the report, the graphs are empty.

In the Javascript console of the browser I see the following error message a couple of times (4 times t

[2018-01-12 10:57] Leviter commented on #22
Found out that this happens when I specify a dateFormat (I had it set to ```YYYY-MM-DD```).

[2018-01-16 10:16] smontanari commented on #22
Interestingly the default dateFormat is indeed `YYYY-MM-DD`. How do you specify it? I want to see if I can replicate the issue

[2018-01-16 12:13] Leviter commented on #22
I added it to the gulpfile.js. In the meantime I already removed it, but it was something like this:

[code]

[2018-01-17 05:25] smontanari commented on #22
thank you @Leviter. I was able to re-create the issue and it's definitely a bug. I'll look into it, for the time being you might have to stick with the original `YYYY-MM-DD` format for things to work

[2018-01-17 10:34] #22 closed

[2018-02-01 18:47] doytsujin opened #23 "Blank gulpfile.js with repository info not enough to run tasks"
Blank gulpfile with only repository information does not work. Because gulpfile needs tasks specified, otherwise without tasks, nothing will work. Gulp will return error about default task not in gulpfile. Does core-forensics package includes actual tasks? Why tasks are not visible for gulp to execute with minimal gulpfile?

[2018-02-01 22:04] smontanari commented on #23
@doytsujin please take the time to read the documentation. It clearly explains how to configure and run the program.
code-forensics dynamically defines all the tasks necessary for gulp to run. A default task is also defined and is the `help` task, which lists all the available commands/tasks you can run.

If your gulpfile only contains a reference to your repository you should still be able to exe

[2018-02-03 15:05] doytsujin commented on #23
Sorry for confusion. I tried Docker image instead and it worked. Thanks for the great project. Will consider to contribute!

[2018-02-03 15:05] #23 closed

[2018-02-14 17:57] jdevoo commented on #21
Silvio, I had created a Docker image to run code-forensics on Windows. The docker image supports Java and Node. The idea is to use git from inside that container to clone a repo but use host editors e.g. Sublime to edit the gulpfile and execute tasks.

**Dockerfile**
[code]

**cofo.bat**
I use the image with a small batch that wraps 2 docker run commands.
Invoking the script with 'bash' as argumen

[2018-02-14 21:44] smontanari commented on #21
thank you @jdevoo. I'll put this info in the wiki and that will possibly contribute to share your approach with more users

[2018-02-19 08:16] gernotstarke opened #24 "gulp-util deprecation warning upon install..."
I get the following warning/error upon install:

`npm WARN deprecated gulp-util@3.0.8: gulp-util is deprecated - replace it, following the guidelines at https://medium.com/gulpjs/gulp-util-ca3b1f9f9ac5
npm WARN deprecated graceful-fs@3.0.11: please upgrade to graceful-fs 4 for compatibility with current and future versions of Node.js
npm WARN deprecated minimatch@2.0.10: Please update to minimatch

[2018-02-19 09:29] gernotstarke opened #25 "Prerequisites are missing "git""
`gulp list-analysis-tasks`
requires git to work - should imho be mentioned in readme.

Will open a PR for this.

[2018-02-20 04:16] smontanari commented on #25
I'm going to look into this because it is not the desired behaviour. code-forensics should not depend necessarily on git as you could run it on a subversion repository as well and you should not need to have git installed

[2018-02-20 18:41] hsendoa opened #27 "failure with minimal configuration"
the gulp command not found the subtask

after add the default task in the gulpfile.js

like this
[code]

throw

if I try to usage the other command, it's fail

[2018-02-20 20:00] gernotstarke commented on #27
imho the minimal gulpfile.js should look like:

[code]
@hsendoa  - have you tried that?

[2018-02-21 11:22] smontanari commented on #27
@hsendoa please take the time to read the documentation. It explains how to configure and run the program. The minimal configuration suggested in the documentation can take you a little further but I strongly recommend you read the wiki to properly setup your environment. I would personally advise against the configuration suggested by @gernotstarke, because you would end up adding files and code

[2018-02-21 12:39] gernotstarke commented on #27
acutally the gulpfile.js is quoted from the [documentation wiki...](https://github.com/smontanari/code-forensics/wiki/Basic-setup)...

I added this gulpfile to the directory containing my Dockerfile and docker-compose.yml.

[2018-02-21 20:01] smontanari commented on #27
@gernotstarke the documentation doesn't suggest to place the gulpfile in the same folder as your repo and set a path for the repository as `./`. That is what I would personally advise against.

[2018-02-22 01:13] hsendoa commented on #27
thanks @gernotstarke and @smontanari ..
First, the rootPath is the server rootPath(for example: svn://server:port) or the client rootPath (in windows would be D:\\SVN).
I use a node for windows in a fresh install, I make the
`npm install gulp -g`
`npm install code-forensics `
`npm install ` (for all dependencies)
after I wrote the gulpfile.js like this:
[code]

but when run the gulp command
`gulp

[2018-02-22 06:41] smontanari commented on #27
Unfortunately I can't debug a windows setup. In particular it's strange that you don't see any error or stack trace in the console.
The `configure` function generates the gulp tasks dynamically based on the task definition javascript files contained in the code-forensics package. It could be that the way files are found/loaded doesn't work as expected in windows hence no tasks are created, but I'm

[2018-02-22 18:00] hsendoa commented on #27
thanks!.. It-s work (without docker)

[2018-02-22 18:00] #27 closed

[2018-02-25 21:34] #25 closed

[2018-02-27 21:37] smontanari commented on #24
At some point I'm going to upgrade to `gulp 4` and that should remove the need of `gulp-util`,
 `graceful-fs` and possibly other deprecated dependencies

[2018-02-28 14:57] hsendoa opened #28 "File supported"
Hi, what's the supported files?
Exists some plugin for sql suport?

[2018-03-01 00:00] smontanari commented on #28
Some analyses (e.g. coupling, ownership) will work with any file type. More code specific analyses (e.g. sloc, complexity) will depend on the programming language.

- Complexity metrics can be captured for `ruby` and `javascript` only. I welcome anyone willing to add new complexity analysers for other programming languages.
- Sloc (source lines of code) analysis is based on the npm package `sloc`

[2018-03-01 00:00] #28 closed

[2018-03-05 22:36] pierluca commented on #21
I've used this successfully in Windows 10 by using the Windows Subsystem for Linux (WSL) running Ubuntu. It's quite straightforward, install leiningen, install nodejs, install code-maat, install code-forensics and it works!

[2018-03-13 01:35] smontanari commented on #21
Thank you @pierluca. Did you install leiningen to execute codemaat directly from the clojure source? code-forensics comes with a pre-packaged codemaat jar file (to ensure version compatibility) and should only require java to run codemaat commands.

[2018-03-13 10:20] jdevoo opened #29 "Question about system evolution"
Hello guys,
I ran a system evolution task against [RISE Lab Clipper](https://rise.cs.berkeley.edu/projects/clipper/) back in December and again Today using the following task and arguments

`system-evolution-analysis --dateFrom=2017-06-01 --dateTo=2018-03-01 --timeSplit=2w`

The two profiles vary as follows. I am wondering if the timeSplit needs to be adjusted for comparisons as the December peak

[2018-03-14 04:22] smontanari commented on #29
I don't seem to see an issue comparing the two graphs. It looks to me as the December peak shows up in both, with a value somewhere between 5 and 10 revisions.  Also the second graph up until December resembles pretty closely the last third of the first graph, obviously not identical because the time scale is stretched.

[2018-03-14 14:47] pierluca commented on #21
@smontanari Correct. One could probably skip that part then.

[2018-03-15 08:14] jdevoo commented on #29
duh! I got my intervals wrong! thank you!!

[2018-03-15 08:14] #29 closed

[2018-04-16 22:07] smontanari commented on #24
latest version uses gulp 4 now

[2018-04-16 22:07] #24 closed

[2018-06-02 13:31] jdevoo opened #30 "'no data' with coupling analysis"
Hi!
When I run sum of coupling or developer coupling with the latest version, the reports show "There is no data available for this diagram."
Is this just me?

[2018-06-03 23:32] smontanari commented on #30
Are you running the analysis over an old time period? If that's the case it could be that some files referred to by github commits no longer exist in the latest version of the code repo, and those files maybe happened to be part of coupling relationships. I'll run some further tests to make sure no bug was introduced. As a sanity check also make sure the log files generated by code-forensics (in t

[2018-06-05 17:20] jdevoo commented on #30
I am but I see some files have a few entries in the `vcslog_normalised_*` files under tmp

`developer-coupling-analysis --dateFrom=2016-01-01 --dateTo=2018-04-01` on Teevity ICE
https://github.com/Teevity/ice

I want to say I had some data before but usually these issues are my fault :-)

[2018-06-11 22:10] iKarthik opened #31 "Browser displays "There is no data available for this diagram.""
Hello,

First, many thanks for putting in effort to develop this tool. When I generate visualization for developer coupling analysis, I seem to get no data message displayed in the browser. When I look at the log files generated in the tmp dir, I do see commits and developer information in vcslog_normalized.., I see data under authors-report as well as code-ownernship-reports

But in the output di

[2018-06-12 12:38] iKarthik commented on #31
After doing some investigation, i found out that my glob expressions were incorrect. Works well now. For anyone else who has trouble with this, here is how my configuration looks like

repository: {
      rootPath: '/path/to/your/root/dir',
      includePaths: [
        'app'
      ],
      excludePaths: [
        '/**/tests/*.js',
        '/**/mock/*.js
      ]
    }
This would make sure that all

[2018-06-12 12:38] #31 closed

[2018-06-13 12:21] lsanders opened #32 "Can't determine weight of collection. Assigning a value of 0 to every item."
The revision history isn't functioning correctly. The log indicates:

`Empty log file ...` (this only occurs on first run after cleaning tmp)

`Can't determine weight of collection. Assigning a value of 0 to every item.`

The symptoms of this are similar to #5. And it's worth mentioning that my git repository is migrated from TFS but the history looks just fine.  The codebase is large (3M) and the

[2018-06-13 20:41] lsanders commented on #32
If it helps, cloning and running tests yield some failures:

[code]

[2018-06-13 22:03] lsanders commented on #32
There appears to be valid data in both the revision and sloc reports in tmp. Potentially a problem with merge reports. There are missing paths from both reports but that’s normal right? There are certainly matching entries. I have no other complexity reports enabled.

[2018-06-14 20:14] lsanders commented on #32
Uhh, turns out that this was misconfiguration on my part. I had set the repository.rootPath in the gulpfile to a subdirectory due to the structure of my repository. Despite the good name here, I decided to try before finding the include/excludePaths. For the most part, it worked fine but won't merge report correctly.

[2018-06-14 20:14] #32 closed

[2018-07-08 12:58] iegik opened #33 "commit-message-analysis: Cannot read property 'isSelected' of undefined"
[code]

[2018-07-08 13:19] iegik commented on #30
I've got following error
[code]

[2018-07-08 13:54] iegik commented on #30
Update d3-tip ?

[2018-07-11 15:57] jdevoo commented on #30
I will close this because my original question was a user error. Widening the time-frame produced all outputs. @iegik I will let you create a separate issue; hope that's OK with you.

[2018-07-11 15:57] #30 closed

[2018-07-12 02:14] smontanari commented on #33
This is a weird error, the reason it may be happening is when none of the graphs you are trying to visualise is successfully initialised. Which means that you have a bigger problem somewhere else, most likely the data that should initialise the graph is wrong or missing.

We can implement a fix that at least displays a more meaningful message, but it won't get you much further until we understand

[2018-07-30 09:18] iegik commented on #33
@smontanari Sorry, I have trouble to launch the code-forensics on project.

[2018-08-01 01:17] smontanari commented on #33
I would suggest to take some time to read through the wiki and understand how to install configure code-forensics to run on your repo. If you still have problems please open an issue describing with as much detail as possible what is not working. In the meantime I'm closing this issue and opening one for the better error message

[2018-08-01 01:17] #33 closed

[2018-08-01 03:01] smontanari opened #35 "Provide better error message when no diagram can be generated"
When no graph can be initialised, because of wrong or missing report data, the code in report controller fails with a low level error as it cannot define a selected graph

[2018-09-11 23:16] smontanari commented on #35
fixed with commit [b42f53c](https://github.com/smontanari/code-forensics/commit/b42f53c5702c88ada924b41f56b8a2cbdb960cad)

[2018-09-11 23:16] #35 closed

[2018-09-12 15:28] stepan-leibo opened #36 "Startup issue "gulp.parallel is not a function""
I did the following steps to start code-forensics
[code]

I've got the following exception:
[code]

[code]

[2018-09-14 01:13] smontanari commented on #36
code-forensics requires gulp v4. My guess is that when you invoke gulp on the command line you actually end up running the version that was installed globally on your system (under /usr/local/lib/node_modules/gulp) which is at 3.9.1. You must run the gulp command through the module that comes with code-forensics, or you must update the global version

[2018-09-14 01:17] smontanari commented on #36
The gulp v4 requirement is mentioned in the CHANGELOG, but I will make it more explicit in the main README file, because the install instructions sort make too much of an assumption that you would have to run gulp that way

[2018-09-14 12:03] stepan-leibo commented on #36
Thank you for your explanation!
Can see it in the docs now.

[2018-09-14 12:03] #36 closed

[2018-10-31 12:49] jdevoo opened #37 "system evolution question"
Hello all,

I have been looking at system evolution for CrowdAI, a RoR-based machine learning competition site. I split the analysis as follows
[code]
Somehow I obtain a short time series on 'test' but the cumulative revisions vary over the entire period. Same picture when I reduce the interval from 1m to 2w for the long period.

![system-evo-crowdai](https://user-images.githubusercontent.com/1698

[2018-11-02 02:10] smontanari commented on #37
I'll take a look

[2018-11-02 07:29] jdevoo commented on #37
Sorry Silvio - yes; here's the gulpfile as well

[code]

[2018-11-05 03:38] smontanari commented on #37
I think I found out the glitch in the report. It's probably due to missing values in the generated reports, that would happen when there are no revisions for a certain period. In such case the value is undefined instead of 0, hence causing D3 to fail drawing the data plot. I labelled this issue as a bug and will do some more debugging.
In the meantime if you still want to see that particular layer

[2018-11-05 08:39] jdevoo commented on #37
Thanks Silvio for looking into it.

[2018-11-07 00:24] smontanari opened #38 "Request for feedback on concurrency/parallelism"
It would be great if any of you who are using code-forensics can provide me with some feedback on a particular feature of the program: the control of the level of **parallelism** (see the [configuration](https://github.com/smontanari/code-forensics/wiki/Advanced-setup#max-number-of-parallel-processes)).

When I envisioned such feature I had in mind the idea of running code-forensics without maxing

[2018-11-07 21:45] #37 closed

[2018-11-30 14:15] kavhad opened #39 "a more useful sum-of-coupling-analysis"
The sum of coupling is not very informative if there's a high amount of coupling between a module and it's corresponding unit test. Could this be highlighted in some fashion so that the sum of couplings also gives extra information based on a given file patterns?

For instance
if we provide the following patterns: ['src/*','test/*']

I would expect this output, which is more informative such as th

[2018-12-04 01:59] smontanari commented on #39
I agree that sum of coupling numbers coming from analysing an entire repository can be biased by the natural coupling between production code and test code. Your suggestion of distributing the data across different _sections_ of the codebase can be way more informative. Unfortunately the sum of coupling analysis, as implemented at the moment, relies pretty much on the output produced by a specific

[2018-12-30 06:29] #38 closed, assigned to nobody

[2018-12-31 10:03] smontanari commented on #19
The latest release of code-forensics should help in limiting the number of Event Emitters created at any point in time, which is known to possibly cause memory leaks in the case of parallel execution of a large number of tasks. I'd be curious to know whether it would also help you with your particular issue.

[2019-01-09 04:53] smontanari commented on #19
Closing this issue for now, not sure if it's still a problem for anyone

[2019-01-09 04:53] #19 closed

[2019-01-09 04:58] smontanari commented on #20
I'm doing some housekeeping of old/stale issues. @Husterknupp would you be able to assert whether this is still a problem? A recent version of code-forensics has improved the limitation of the number of parallel external commands/processes executing at any given time, so it may have helped in your case.

[2019-01-09 22:30] Husterknupp commented on #20
@smontanari I just retried and the hotspot-analysis worked without any problem. Thanks for coming back to this 👍

[2019-01-09 22:30] #20 closed

[2019-01-24 12:23] velanbabu opened #40 "Blank page displayed in chrome, even data available in the output folder"
Hi
Thanks for created wonderful tool. I'm able to generate the output log. When i access the report in browser, blank page displayed and i checked the console log, error showing as

system.js:1 Failed to load resource: the server responded with a status of 404 (Not Found)
less.min.js:1 Failed to load resource: the server responded with a status of 404 (Not Found)
system.js:1 Failed to load resourc

[2019-01-24 20:32] smontanari commented on #40
It looks to me like the web server cannot resolve the location of the javascript library files requested by the browser. When you start the web server you should see through its output where in the file system it's supposed to find those files (something like _serving "/lib"  files from ..._). Is that folder correct?

I suspect this could be an issue caused by how you run node in Windows, which I

[2019-05-07 08:25] jdevoo commented on #40
Just to say that I encountered a blank page before because I had an extra node_modules and gulp lying around... (from an npm link gulp)
FWIW

[2019-06-07 20:12] CreatCodeBuild opened #41 "Amazing Work"
Hi smontanari,
Amazing tool. I wanted to use `Code Maat` directly but I am not a JVM/Clojure developer. Your tool make it much easier to get started.

[2019-06-11 01:53] smontanari commented on #41
Thank you, Code Maat is very useful but the data it produces is difficult to interpret without a graphical representation, that's why I decided to develop code-forensics. If you don't mind I'll close this _issue_ ;).
Cheers

[2019-06-11 01:53] #41 closed

[2019-07-17 12:35] KirillVolkov opened #42 "Help me with MacOS running"
`~/Documents/forensics $ gulp
[15:34:00] Requiring external module @babel/register
/Users/kirillvolkov/Documents/forensics/node_modules/code-forensics/lib/index.js:31
    if (e instanceof CFValidationError) { logger.error(e.message); }
                                                 ^

TypeError: Cannot read property 'error' of undefined
    at Object.module.exports.configure (/Users/kirillvolkov

[2019-07-31 01:30] smontanari commented on #42
Sorry for the late response @KirillVolkov. I've been flat out busy the past month and didn't have time to look into this. I think this is a silly bug and I should be able to fix it shortly

[2019-07-31 02:03] smontanari commented on #42
version 2.2.1 should have fixed the logging problem. Feel free to open another issue if you still have troubles running code-forensics. And thank you for raising the issue in the first place

[2019-07-31 02:03] #42 closed

[2019-08-26 12:24] HerrTamm opened #43 "Knowledge map analysis: "the given VCS data doesn't contain modification metrics""
Hi,

I have problems running some analysers. One of the analysers is knowledge map analysis, which yields `This is Code Maat, a program used to collect statistics from a VCS.` and Code Maat yields `churn analysis: the given VCS data doesn't contain modification metrics.`

My Gulp settings:

[code]

Command: `COMMAND_DEBUG=true gulp knowledge-map-analysis`

Output:

[code]

When executing Code Maat

[2019-09-04 12:22] smontanari commented on #43
Well it's pretty obvious that the vcs log is empty, i.e. there is no information about any line changes on any file. Off the top of my head I could suggest to look at if and how you have configured the "include" or "exclude" filters for your target repository. Maybe they are eliminating all the files that have been changed as part of the git revisions, which would explain the empty log

[2019-09-04 12:24] smontanari commented on #40
no activity or further information to work with here, closing the issue

[2019-09-04 12:24] #40 closed

[2019-09-04 12:33] HerrTamm commented on #43
You can see from the logs, that it was analysing a file:

`[15:20:10] Analysing ../content-api/packages/content-api-importer/src/utils/logger.js`

Actually I initially tried with a whole `src/` directory, which outputs

[code]

and a lot more, so I very much believe, that my `exclude` and `include` filters are just fine.

[2019-09-04 21:27] smontanari commented on #43
The _Analysing..._ messages refer to your current working tree, which may contain files which haven't been subject of revisions that are relevant to the analysis you are trying to run. What date range are you using? It could be that it is too restrictive and is excluding all those files. Also try and clean the temporary directory, just in case you generated invalid log files in the past.
I'm inter

[2019-09-05 06:57] rasmustam123 commented on #43
As you can see in my `gulpfile.js` I posted in the original post, `dateFrom` is `'2000-01-01'`

Also, in the logs I posted there's a line `Generating report file 2000-01-01_2019-08-26_knowledge-map-data.json` which indicates, that the date range should be correct.

Deleting `tmp/` directory didn't help.

[2019-09-05 10:35] smontanari commented on #43
Ok, now that I looked better at the first output you posted there are two things that are quite weird:
1. The `vcsLogDump` task only lasts  a handful of ms, which should not be the case given you're trying to produce a log for a very large date range.
2. I can't see the program issuing the `git log` command. At a minimum (with no debug option) you should see something like `Fetching git log from .

[2019-09-10 00:26] smontanari commented on #43
@HerrTamm could you please do me the favour of deleting all the log files from the tmp folder and re-running your analysis task in debug mode, and then please report here the terminal output? If the git command is still not executed then I would have to do some serious debugging because it's really not supposed to happen.
Thank you

[2019-09-13 08:25] rasmustam123 commented on #43
Thanks, it's working now! We're using Lerna for multi-package repo so I had pointed `rootPath` to sub-package root directory. As running git commands from CLI works in child directories too, I didn't assume that was the problem. Pointed it to the root, root directory now.

[2019-09-13 08:32] smontanari commented on #43
No worries, I'm glad I could help. I'm going to close the issue but thank you again for raising it. Although it wasn't ultimately a problem with the program it still highlighted the fact that under some conditions the log and error messages are not providing enough information for a quick resolution. I will see what can be done to improve that

[2019-09-13 08:32] #43 closed

[2019-09-13 08:49] HerrTamm opened #44 "Knowledge-map-analysis rendering problems"
We are using Lerna for a multi-package monorepo. There are multiple subdirectories in `packages/` directory, each containing the same base NodeJS project structure with source code having under `src/`, except that `.git/` directory is only in the root path.

Only one of the packages is rendered correctly.

Output:

![image](https://user-images.githubusercontent.com/5142203/64849391-f71f5e80-d61b-1

[2019-09-13 11:44] smontanari commented on #44
First thing that comes to mind is to clear the log files before running the analysis.
code-forensics does not execute the git log command again if it finds a log already generated for the exact same period of time (this is in order to save time). However if you happen to have changed the repository paths configuration you may have changed the file path selection criteria, hence you probably want t

[2019-09-23 22:37] smontanari commented on #44
Hey I just released an update that could help, as it provides the ability to force the vcs log generation when running an analysis (see [the wiki](https://github.com/smontanari/code-forensics/wiki/Tasks-parameters#vcs-log-files))

[2019-10-29 14:22] jdevoo commented on #13
@smontanari would you have recommendations on how to write a task or one I should look at? I ask because this [repo ](https://github.com/AjayMT/java-complexity) may be a starting point to incorporate Java?

[2019-10-30 22:19] smontanari commented on #13
I believe that in order to understand how to produce a complexity report for code-forensics the best place to start is the report that is created to feed the diagram, i.e. a top-down approach. If you run the javascript or ruby complexity report task you will produce a report file in the temp folder. Look at the data of the report and you'll see that the intention is to produce particular metrics f

[2019-10-31 14:05] jdevoo opened #45 "system evolution cumulative churn"
I ran code-forensics against a [repo ](https://github.com/jdevoo/twecoll/blob/master/twecoll) of mine with a single Python script. I developed this over a few years with minor work every now and then. The profile over the years is shown below.
Shouldn't cumulative churn keep increasing with the additions?

![image](https://user-images.githubusercontent.com/16983/67953582-b097ba80-fbef-11e9-885c-d6

[2019-11-02 23:20] smontanari commented on #45
it should, under the (fair) assumption that the net loc (added - deleted) is always positive. I'll take a look at your repo and see if there's anything wrong with the report

[2019-11-04 02:50] smontanari commented on #45
Please ignore my previous comment (I'm going to delete it). You are 100% right, the cumulative lines represent the absolute number of lines changed (added or deleted) and it should always increase

[2019-11-04 03:01] smontanari commented on #45
I've run the report and it seems fine to me. (I used a `timeSplit` value of `6m`)
![sea-ss](https://user-images.githubusercontent.com/293746/68097510-86a20900-ff0b-11e9-92a7-bd8cfac3074f.jpg)

[2019-11-04 04:21] smontanari commented on #45
Moreover, while investigating the report logic, I discovered a potential issue caused by commit logs that don't carry file churn data (typically merge commits from other branches). In such case the system evolution report can present _holes_ because it fails to aggregate metrics correctly. This could or could not happen depending on the fragmentation of the log files (influenced by the `timeSplit`

[2019-11-04 06:48] smontanari commented on #45
I just released `2.3.1`. See if it helps with your report

[2019-11-04 13:00] jdevoo commented on #45
thank you very much!!!

[2019-11-04 13:00] #45 closed

[2019-12-12 20:57] lsanders opened #51 "typescript support?"
I assume that the javascript complexity can't be used for typescript. Does anyone know if there's a good way to add that or have any pointers?

Thanks!

[2020-04-08 08:59] bm-stschneider opened #56 "How does it work with current gulp version?"
It seems with the latest gulp version this doesn't work.

[2020-04-23 01:19] smontanari commented on #56
it does work with gulp 4, is there a new version around?
If you have an error post the log/error trace and I could try and help

[2020-04-26 00:33] smontanari commented on #51
@lsanders sorry for getting back to you so late.
code-forensics uses [typhonjs-escomplex](https://github.com/typhonjs-node-escomplex/typhonjs-escomplex) which should also support TypeScript. I will have to run some tests, but if that is the case it would be pretty straight-forward to include it

[2020-04-27 18:08] bm-stschneider commented on #56
<img width="448" alt="image" src="https://user-images.githubusercontent.com/30625381/80405440-e679db00-88c2-11ea-9d44-ace13967e55b.png">

[2020-04-30 07:26] smontanari commented on #56
ok, I need more information:
- what command you are running
- where is your `gulp` module installed
- what is the content of your `gulpfile.js`

[2020-04-30 07:48] bm-stschneider commented on #56
`gulp list-analysis-tasks`

globally but linked to local with `npm link gulp`

[code]

[2020-05-01 04:09] smontanari commented on #56
Thank you. I suspect your gulp link is the problem.
1. First, if you follow the gulp [documentation](https://gulpjs.com/docs/en/getting-started/quick-start), the recommendation is to install globally only the `gulp-cli` package.
2. When/if link gulp-cli it should also create a `gulp` command link in the `node_modules/.bin` folders, as well as make it available in your PATH.
3. Following that you c

[2020-05-01 11:25] bm-stschneider commented on #56
Then let's find out if this works.

[2020-05-01 11:30] bm-stschneider commented on #56
Great, that seems to work, also thanks for the suggestion to move stuff to a different directory.
Any chance this could become a cli tool on its own?

[2020-05-02 00:42] smontanari commented on #56
The process flow is currently very dependent on gulp. To make this a proper cli tool ideally I would implement my own process orchestration. Or I could wrap the gulp-cli around a cli-forensics cli. The first option is a lot of work and I'm not sure it's worth the effort (it would be a different conversation if code-forensics was a commercial software). The second option sounds a bit like sugar coa

[2020-05-02 00:42] #56 closed

[2020-06-20 17:32] psrijay opened #57 "Extending complexity analysis"
Hi smontanari
Wanted to know when will you be extending complexity analysis to support other languages.Are you going to release any update in near future.Can i know how to extend it for other languages in terms of code.
 Can you provide a detailed analysis for each report generated finally i.e. for each json generated

[2020-06-20 17:59] psrijay opened #58 "Error in temporal analysis"
Hi smontanari
I am facing issues while running temporal analysis for any other file excluding js file.
[17:55:09] Finished 'slocReport' after 142 ms
[17:55:09] Created: vcslog_2016-10-01_2020-10-01.log
[17:55:10] Created: vcslog_normalised_2016-10-01_2020-10-01.log
[17:55:10] Finished 'vcsLogDump' after 237 ms
[17:55:10] Starting 'publishReport'...
**[17:55:18] TypeError: Cannot read property 'inf

[2020-07-06 11:28] smontanari commented on #57
@psrijay I'm open to extend the analysis to other languages as long as compatible native tools exist (or are implemented by anyone) to perform the actual complexity computation. I'm going to close this issue as a duplicate of #13, but please refer to that for context and more information. And if you have observations or more questions please add them to that issue.
In response to your other questi

[2020-07-06 11:28] #57 closed

[2020-12-07 16:23] nlochschmidt opened #61 "Respect .mailmap file when analysing git repo"
We are using a [`.mailmap` file][1] to fix wrong names and merge commits from the same user. Sadly, the `.mailmap` file is currently being ignored by code-forensics.

I think all it takes is to change the git log command from using [`%an` to `%aN`][2]:

Any reason not to use this?

[1]: https://github.com/git/git/blob/master/Documentation/mailmap.txt
[2]: https://git-scm.com/docs/pretty-formats#Do

[2020-12-08 21:09] smontanari commented on #61
No, not really, other than using `.mailmap` doesn't seem to be a popular practice, and, in my experience, most repos just don't have it, or if they do it is not maintained properly.
However, as you suggested, the change should be trivial as well as harmless with respect to the current functionality, and it will benefit teams (especially large ones) where effort and discipline had been put into mai

[2020-12-22 08:25] smontanari commented on #61
@nlochschmidt I have published release `2.4.0`, which, amongst other things, updates the git log command to respect the `.mailmap` file.
I'm going to close this issue, but if you still have problems with the author log information please create a new one.

[2020-12-22 08:25] #61 closed

[2020-12-22 08:42] nlochschmidt commented on #61
Much appreciated. Thank you!

[2021-01-07 15:53] mduerig opened #64 "gulp list-analysis-tasks fails to start"
[code]

[2021-01-09 05:56] smontanari commented on #64
I'm not sure this issue is related to code-forensics. The stack trace shows a problem in a piece of code that is not in code-forensics. Plus, it seems to me you are running gulp from a different installation.
This problem seems more due to how you install code-forensics. Make sure you are running gulp version 4, moreover I would suggest you run gulp from the package that would come in the node_mod

[2021-01-09 06:04] smontanari commented on #58
@psrijay. This is not enough information for me to be able to debug your problem. Try and run the analysis with the `COMMAND_DEBUG` option to produce more log information. Also it could be useful to see what your gulpfile.js looks like, it might be just a misconfiguration.

[2021-01-11 11:39] smontanari commented on #44
closing due to no response/follow up.

[2021-01-11 11:39] #44 closed

[2021-01-11 21:02] mduerig commented on #64
Thanks @smontanari . Apparently I was not using the correct gulp version. Got it working now.

[2021-01-11 21:02] #64 closed

[2021-02-21 17:59] thealexandrelara opened #65 "window.System.config is not a function" error when accessing http://localhost:3000/index.html"
I'm getting an error on console when I execute webserver and I try to access http://localhost:3000/index.html

![image](https://user-images.githubusercontent.com/20469356/108633752-c66c6700-7454-11eb-9ce2-706afa0865c1.png)

![image](https://user-images.githubusercontent.com/20469356/108633790-02073100-7455-11eb-8cdb-2171be0b2618.png)

My gulp version is the following:
[code]

My gulpfile.js was co

[2021-02-21 18:00] thealexandrelara opened #66 ""window.System.config is not a function" error when accessing http://localhost:3000/index.html"
I'm getting an error on console when I execute webserver and I try to access http://localhost:3000/index.html

![image](https://user-images.githubusercontent.com/20469356/108633752-c66c6700-7454-11eb-9ce2-706afa0865c1.png)

![image](https://user-images.githubusercontent.com/20469356/108633790-02073100-7455-11eb-8cdb-2171be0b2618.png)

My gulp version is the following:
[code]

My gulpfile.js was co

[2021-03-05 22:18] smontanari commented on #65
repeated in #66

[2021-03-05 22:18] #65 closed

[2021-03-05 22:24] smontanari commented on #66
Your browser is not loading the `systemjs` library:
- Check the `systemjs` package is installed (e.g. `npm list systemjs`)
- Check your browser is loading it from the web server (it should

In any case, it could be worth deleting the entire `node_modules` folder and re-installing

[2021-03-11 15:36] ghost opened #67 "Request: Option to group contributors with email (instead of names)"
Hi, I have a quite large git repo with history which I cannot modify. Sometimes people have made commits with wrongly configured names, so there's collision when I try to generate report. (error about duplicated name of developer)

I was thinking that maybe grouping with just emails gonna be less prone to failure.

[2021-03-13 04:25] smontanari commented on #67
I'm not sure I correctly understand your request, but if your problem is having the same contributor appearing with multiple identities and/or email addresses, there are two ways to solve that:
1. Use the `contributors` field in the configuration files, as documented.
2. Use a `.mailmap` file (see #61)

The latter option gives you the ability to merge authors referring to the user name as well use

[2021-03-15 12:43] ghost commented on #67
Thanks for answer. :)

Maybe it's gonna be easier if I explain what I'm doing now.

Basically I have script which is used to generate mapping devs to teams. I take emails and names from git, and I take emails and name of team from excel file. I've run into issue that there are two commits with author's name "Adam", but they were made by two different people (with different mails).

I think `.mailm

[2021-03-18 01:32] smontanari commented on #67
`.mailmap` will help you to _normalise_ author names, i.e. collate all aliases or emails into a single user/dev name. Once you have that, you should be able to define your teams around it, i.e. combine those unique dev names into distinct groups/teams. What you need to do is just refer to the unique user/dev names (as specified in the `.mailmap`) in your `gupfile.js`

[2021-04-08 13:58] ghost opened #68 "Forcing visualisation of developer effort analysis to always use colors"
Basically if you have in project a lot of different paths with different lengths like for example:
- a/b/c/d
- a/b/c/e
- a/b/c/f/g/h
- a/b/z

Then you gonna have (most of the time) a lot of gray color in visualization, which reduces usefulness of it.
![image](https://user-images.githubusercontent.com/79662385/114039036-af59cb00-9882-11eb-9c48-e97225fb90c6.png) (Gray like here.)

[2021-04-16 01:09] smontanari commented on #68
That ultimately depends on what _useful_ means to you.

When analysing file metrics I generally use _enclosure_ diagrams or, like in this case, a _tree map_ diagram. The reason being that we normally structure our files in a hierarchical fashion (a directory tree) and those diagrams make it easier to navigate a large codebase with hundreds or thousands of files. To be clear, the intent is not to r

[2021-05-02 23:34] #68 closed, assigned to nobody

[2021-05-02 23:35] #67 closed, assigned to nobody

[2021-05-02 23:37] smontanari commented on #66
@thealexandrelara, let me know if my suggestions helped you move forward or not. Otherwise I will be closing this issue.

[2021-10-18 05:27] a-bendoraitis opened #70 "Multi repo support"
Right now rootPath configuration expects single path where git repository is located. I have multiple git repositories and it would be very useful to gather data from all of them.

Maybe I overlooked some of the configuration options and it is possible now? I can also contribute with a pull request and turn rootPath gulpfile option into an array, but thats a breaking change and I might just fork i

[2021-10-21 01:37] smontanari commented on #70
I can try to interpret your request in two ways:
1. You're after some form of parallelisation, i.e. you want to run the same analysis in parallel on multiple repos to speed up your investigative process.
2.  You're after analysis that perform data mining considering commits from multiple code bases.

Option 1 is just a matter of parallel execution of commands that can be achieved in a variety of w

[2021-10-25 06:12] a-bendoraitis commented on #70
I'm looking at the second way. For my use case, I don't really care about hidden couplings, just - run analysis on different repos and present all the data in single report, for example in hot spots - all repos could have their own blob, side to side. That's why I'm thinking about rootPaths array, I don't need anything too complicated.

I tried merging my repos into one, preserving all of the logs

[2021-10-26 02:33] smontanari commented on #70
That is not possible for the same reasons I described above, i.e. the reports are pretty much a data mining exercise over the information contained in git log outputs, and such outputs contain data that is relative to one repository only.

This sort of feature has been on my mind for some time, because I do understand its potential benefit, especially as we move towards more distributed codebases.

[2022-11-08 17:30] islomar opened #79 "Hover not working on generated html (JS errors)"
Hi!

After running any kind of analysis (which is executed correctly) and then the `gulp webserver`, I can see the reports but hovering on the results do not work.

Looking at the JS console, I see several types of JavaScript errors:
![image](https://user-images.githubusercontent.com/966013/200633614-f699f3f6-1704-4767-b687-a3d6fc3faf1f.png)

[code]

I have tried with Chrome 106.0.5249.103 and Fir